.dash-page {
  line-height: 1.5;
  box-sizing: border-box;
}

.dash-page a, .dash-page a:hover, .dash-page a:click, .dash-page a:visited {
  border: none;
  outline: none;
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: white;
}

.dash-page .content-wrapper {
  margin-left: 84px;
}

.dash-page .area-wrapper {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  box-sizing: border-box;
  z-index: 10;
}

.dash-page .content-area {
  flex: 1;
  min-width: 1px;
  z-index: 50;
}

.dash-page .content {
  padding: 24px 24px 24px 36px;
}

.dash-page .dashboard {
  margin-top: -24px;
}

.dash-page .page-header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: auto;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
}

.dash-page .header {
  margin-top: 0;
  margin-bottom: 0;
  flex: 1;
  padding-right: 12px;
  font-size: 1.8rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.dash-page .header-actions {
  align-items: center;
  justify-content: flex-end;
}

.dash-page .header-actions button {
  padding: 12px;
  background: transparent;
  outline: none;
  width: 50px;
  height: 50px;
  text-align: center;
  display: block;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 20px;
  border: 1px solid;
  background-image: url("https://pbs.twimg.com/media/Emq4JSRXcAAZD9B.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.dash-page .cards {
  padding-top: 16px;
}

.dash-page .card {
  box-sizing: border-box;
  overflow: hidden;
  width: 300px;
  height: 265px;
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  margin: 32px 0 0 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px darkgrey;
}

.dash-page .card:hover {
  box-shadow: 6px 6px 6px grey;
  cursor: pointer;
}

.dash-page .card-preview-image {
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dash-page .card-info {
  padding: 4px;
  height: 100%;
}

.dash-page .card-class-title {
  font-size: 1.05rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dash-page .card-desc {
  font-size: 0.9rem;
  line-height: 1.4rem;
  height: 2.8rem;
  overflow: hidden;
}

.dash-page .card-notifs span {
  display: block;
  font-size: 0.85rem;
  color: grey;
  font-weight: bold;
}

.dash-page .card-quiz-notif {
  color: red!important;
}

.dash-page .card-assign-notif {
  color: red!important;
}

.dash-page .rs-bar {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 460px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

@media (max-width: 760px)
{
  .dash-page .rs-bar {
    display: none;
  }
}

.dash-page .announce-header {
  border-bottom: 1px solid grey;
  text-rendering: optimizeLegibility;
  padding-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.5;
  min-height: 3rem;
}

.dash-page .announcements-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dash-page .announce-title-container {
  line-height: 1;
}

.dash-page .announce-title {
  padding-top: 8px;
  overflow: hidden;
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
}

.dash-page .announce-class, .dash-page .announce-date {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  color: grey;
}

.dash-page .announce-class {
  float: left;
}

.dash-page .announce-date {
  float: right;
}

.dash-page .announce-content {
  border-bottom: 1px solid grey;
  padding-bottom: 4px;
}

.dash-page .announce-preview {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2rem;
  font-size: 0.9rem;
  display: inline-block;
}

.dash-page .announce-show-all {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.dash-page .announce-show-all button {
  border-style: none;
  background-color: lightgrey;
  padding: 4px 12px;
  margin-top: 8px;
}