.login-page .content {
  display: flex;
  flex-direction: column;
}

.login-page .school-section {
  align-items: center;
}

.login-page .remember-me {
  display: inline-block;
  margin-top: 10px;
}

.login-page .remember-me-box {
  min-width: 20px;
  width: auto;
  float: left;
  margin-right: 10px;
  transform: scale(1.1);
}

.login-page .remember-me-box:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.login-page .remember-me-box:checked {
  background-color: lime;
}

.login-page .remember-me-label {
  float: left;
}

.login-page .school-name,
.login-page .school-id {
  display: block;
  text-align: center;
}

.login-page .school-section {
  width: 100%;
}

.login-page .school-name-option {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
}