.nav-section {
  width: 112px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: #aaa;
}

.nav-section .main-nav {
  flex: 1 0 auto;
}

.nav-section .corner-icon {
  height: 112px;
  background-image: url("https://pbs.twimg.com/media/Emq4JSRXcAAZD9B.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.nav-section .nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-section .nav-item:hover {
  background-color: rgb(231, 231, 231);
}

.nav-section .nav-item-button {
  padding: 0.5rem;
  background: transparent;
  outline: none;
  width: 100%;
  text-align: center;
  display: block;
  border-style: none;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 20px;
  float: left;
}

.nav-section .nav-item-button:hover {
  background-color: #888;
  cursor: pointer;
}

.nav-section .nav-item-button:active {
  background-color: #666;
}

.nav-section .nav-item-icon {
  width: 90%;
  margin: auto;
}